:root {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: #ffffff;
  background-color: rgba(13, 17, 23);
}

a {
  color: #428ff2;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 24px;
}
